[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41371325
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"
